/* Global Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --rc-swatch-bl: #74CEE4;
    --rc-swatch-bl-dr: #3fa6c0;
    
    --rc-swatch-or: #EC774B;
    --rc-swatch-or-dr: #e46c3f;
    --rc-swatch-or-dr2: #d0653d;

    --rc-swatch-yl: #EDBF47;
    --rc-swatch-yl-dr: #cca02e;

    --rc-swatch-gr: #5CBB8B;
    --rc-swatch-gr-dr: #309c66;

    --rc-swatch-pr: #C389CE;
    --rc-swatch-pr-dr: #b571c1;
    --rc-swatch-pr-dr2: #9955a5;

    --rc-swatch-pk: #E16C6C;
    --rc-swatch-pk-dr: #b94d4d;

    --rc-white: #ffffff;
    --rc-grey-lt: #fbfbfb;
    --rc-grey-mid:  #ececec;
    --rc-grey-dr: #ababab;

    --rc-black-lt: #333333;
    --rc-black: #000000;

    --rc-font-sanserif: Helvetica, Arial, sans-serif;
    --rc-font-serif: "Times New Roman", Times, serif;
    --rc-font-monospace: "Lucida Console","Courier New"; 

    --rc-para-grey: #777777;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    font-family: var(--rc-font-sanserif);
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    color: #333;
    text-align: left;
    background-color: #fff;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 10px;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 10px;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

blockquote {
    margin: 0 0 10px;
}

b,
strong {
    font-weight: bold;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #006cdf;
    text-decoration: underline;
}

img {
    vertical-align: middle;
    border-style: none;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

/* Table */
table {
    border-collapse: collapse;
}

th {
    text-align: inherit;
}

label {
    display: inline-block;
    margin-bottom: 10px;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

select {
    word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
    -webkit-appearance: listbox;
}

textarea {
    overflow: auto;
    resize: vertical;
}

[hidden] {
    display: none !important;
}

/* ---------------------------------------------------
Common Utilities
-----------------------------------------------------*/
.m-z {
    margin: 0 !important;
}

.p-z {
    padding: 0 !important;
}

.mx-auto {
    margin: 0 auto;    
}

.txt-l {
    text-align: left;
}

.txt-c {
    text-align: center;
}

.txt-r {
    text-align: right;
}

.edge-align {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .mx-auto {
        width: 30%;
    }

    .r4Grid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .edge-align {
        flex-direction: row;
    }
}

@media (min-width: 1200px) {
    .r4Grid {
        padding-left: 0;
        padding-right: 0;
    }
}

.mt-10p {
    margin-top: 10%;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.flex-row {
    -ms-flex-direction: row!important;
    flex-direction: row!important;
}

.flex-column {
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}

.btn {
    display: inline-block;
    border: 1px solid transparent;
    text-transform: capitalize;
    text-align: center;
    border-radius: 4px;   
    cursor: pointer; 
    padding: 5px 15px;
}

.btn-sm {
    padding: 0 10px;
}

.btn .fa {
    margin-right: 5px;
}

.btn-bl {
    background-color: var(--rc-swatch-bl);
    color: var(--rc-white);
}

.btn-bl:hover {
    background-color: var(--rc-swatch-bl-dr);
}

.btn-or {
    background-color: var(--rc-swatch-or);
    color: var(--rc-white);
}

.btn-or:hover {
    background-color: var(--rc-swatch-or-dr);
}

.btn-gr {
    background-color: var(--rc-swatch-gr);
    color: var(--rc-white);
}

.btn-gr:hover {
    background-color: var(--rc-swatch-gr-dr);
}

.btn-yl {
    background-color: var(--rc-swatch-yl);
    color: var(--rc-white);
}

.btn-yl:hover {
    background-color: var(--rc-swatch-yl-dr);
}

.btn-pr {
    background-color: var(--rc-swatch-pr);
    color: var(--rc-white);
}

.btn-pr:hover {
    background-color: var(--rc-swatch-pr-dr);
}

.btn-pr2 {
    background-color: var(--rc-swatch-pr-dr);
    color: var(--rc-white);
}

.btn-pr2:hover {
    background-color: var(--rc-swatch-pr-dr2);
}

.btn-pk {
    background-color: var(--rc-swatch-pk);
    color: var(--rc-white);
}

.btn-pk:hover {
    background-color: var(--rc-swatch-pk-dr);
}

/* --Tab Navs */
.rc-tabnav-container {
    margin: 10px 0;
}

.rc-tabnav {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid var(--rc-grey-mid);
}

.rc-tabnav .rc-tab-item {
    margin-bottom: -1px;
    margin-right: 2px;
}

.rc-tab-item .rc-tab-link {
    display: block;
    padding: 5px 7px;
    border: 1px solid var(--rc-grey-mid);
    background-color: var(--rc-grey-lt);
    color: var(--rc-grey-dr);
    text-decoration: none;
    text-transform: capitalize;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.rc-tab-item .rc-tab-link i {
    margin-right: 5px;
}

.rc-tab-item .rc-tab-link.active {
    border-color: var(--rc-swatch-bl);
    background-color: var(--rc-swatch-bl);
    color: var(--rc-white);
}

.rc-tabnav-content {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: var(--rc-grey-mid);
    padding: 10px;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.2);
}

@media (min-width: 768px) { 
    .rc-tabnav-container {
        margin: 15px 0;
    }
}


/* --Table */
.rc-table {
    width: 100%;
    margin-bottom: 1rem;
    color: var(--rc-black-lt);
    -webkit-box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.2);
}

.rc-table td, .rc-table th {
    padding: 0.4rem;
    vertical-align: top;
    border-bottom: 1px solid var(--rc-grey-mid);
}
.rc-table-hover tbody tr:hover {
    background-color: var(--rc-grey-mid);
}
.rc-table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--rc-grey-mid);
}

.rc-table-striped td, .rc-table-striped th {
    border-bottom: 1px solid var(--rc-grey-mid);
}

.rc-thead-gr th {
    color: var(--rc-white);
    background-color: var(--rc-swatch-gr);
    text-transform: capitalize;
}

.rc-thead-or th {
    color: var(--rc-white);
    background-color: var(--rc-swatch-or);
}
/* --MessageBox */
.rc-messagebox {
    margin-bottom: 1rem;
    background-color: var(--rc-grey-mid);
    color: var(--rc-black-lt);
    border-radius: 0 0 3px 3px;    
    -webkit-box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.2);
}

.mbox-head {
    color: var(--rc-white);
    background-color: var(--rc-swatch-gr);
    padding: 3px 15px;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    text-transform: capitalize;
}

.mbox-head-or {
    background-color: var(--rc-swatch-or);
}

.mbox-body {
    padding: 15px; 
    border-radius: 0 0 3px 3px;
}

/* --Paragraph */
.rc-para p {
    color: var(--rc-para-grey);
}

.rc-para p b {
    color: var(--rc-black-lt);
}

.rc-para p i {
    color: var(--rc-swatch-pk);
    font-family: var(--rc-font-serif);
}

/* --Form Controls */
.rc-form-container {
    margin-bottom: 1rem;
    border-radius: 3px;
    border: 1px solid var(--rc-grey-mid);
    -webkit-box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.2);
}

.rc-form-head {
    background-color: var(--rc-grey-mid);
    padding: 3px 15px;
    font-weight: bold;
    border-radius: 3px 3px 0 0;
}

.rc-form-head-bl {
    color: var(--rc-white);
    background-color: var(--rc-swatch-bl);
}

.rc-form-head-pk {
    color: var(--rc-white);
    background-color: var(--rc-swatch-pk);
}

.rc-form {    
    padding: 15px;
}

.rc-form input[type="text"],
.rc-form input[type="password"],
.rc-form input[type="number"],
.rc-form input[type="date"],
.rc-form textarea {
    width: 100%;
}

@media (min-width: 768px) { 
    .rc-form input[type="text"],
    .rc-form input[type="password"],
    .rc-form input[type="number"],
    .rc-form input[type="date"],
    .rc-form textarea {
        min-width: 12rem;
    }
}

@media (min-width: 992px) { 
    .rc-form input[type="text"],
    .rc-form input[type="password"],
    .rc-form input[type="number"],
    .rc-form input[type="date"],
    .rc-form textarea {
        min-width: 14rem;
    }
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    background-color: var(--rc-grey-lt);
    padding: 3px 15px;
}

.form-group label {
    display: block;
    margin-bottom: 0;
    color: var(--rc-para-grey);
}

input,
textarea {
    border: 1px solid var(--rc-grey-mid);
    border-radius: 3px;
}

input.error {
    border: 1px solid var(--rc-swatch-or);
    opacity: 0.75;
}

.mandatory {
    font-weight: bold;
    margin-left: 5px;
    color: var(--rc-swatch-or-dr2);
}

.error-input {
    font-size: 12px;
    color: var(--rc-swatch-or-dr2);
    margin-left: 5px;
}

.error-input::before {
    content: "- ";
}

/* Week Pager */
.rc-week-pager {
    display: flex;
    margin-bottom: 10px;
}

.rc-week-pager .week-left {
    display: flex;
    align-items: center;
}

.rc-week-pager .week-left:after {
    content: "~";
    padding-left: 5px;
    padding-right: 5px;
    border-width: 1px 0;
    border-style: solid;
    border-color: var(--rc-swatch-pk);
}

.rc-week-pager .week-left button {
    border-radius: 3px 0 0 3px;
    border: 1px solid var(--rc-swatch-pk);
    background-color: var(--rc-swatch-pk);
    color: var(--rc-white);
}

.rc-week-pager .week-left button:hover {
    background-color: var(--rc-swatch-pk-dr);
}

.rc-week-pager .week-left.disabled button {
    border: 1px solid var(--rc-grey-mid);
    background-color: var(--rc-grey-mid);
    cursor: not-allowed;
}

.rc-week-pager .week-right button {
    border-radius: 0 3px 3px 0;
    border: 1px solid var(--rc-swatch-pk);
    background-color: var(--rc-swatch-pk);
    color: var(--rc-white);
}

.rc-week-pager .week-right button:hover {
    background-color: var(--rc-swatch-pk-dr);
}

.rc-week-pager .week-right.disabled button {
    border: 1px solid var(--rc-grey-mid);
    background-color: var(--rc-grey-mid);
    cursor: not-allowed;
}

.rc-week-pager .prev-week {
    padding-left: 5px;
    font-size: 14px;
    color: var(--rc-black-lt);
    border-width: 1px 0;
    border-style: solid;
    border-color: var(--rc-grey-mid);
    border-color: var(--rc-swatch-pk);
}

.rc-week-pager .next-week {
    padding-right: 5px;
    font-size: 14px;
    color: var(--rc-black-lt);
    border-width: 1px 0;
    border-style: solid;    
    border-color: var(--rc-swatch-pk);
}

.rc-week-pager .week-left.disabled .prev-week,
.rc-week-pager .week-right.disabled .next-week {
    color: var(--rc-grey-mid);
    cursor: not-allowed;
}

.rc-week-pager .week-right {
    display: flex;
    align-items: center;
}

.rc-timesheet-ctrl {
    margin-bottom: 10px;
}

.details-history-wrapper .rc-tabnav {
    flex-direction: row-reverse;
}

.details-history-content {
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: var(--rc-grey-mid);
    padding: 10px;
}

/* --timesheet table */
.timesheet-table th {
    vertical-align: middle;
    border-left: 1px dashed var(--rc-white);
}

.timesheet-table th:first-child {
    border-left: 0;
}

.timesheet-table td {
    vertical-align: middle;
    border-left: 1px dashed var(--rc-grey-dr);
    text-align: center;
}

.timesheet-table td:first-child {
    border-left: 0;
    text-align: left;
}

.timesheet-table td:last-child {
    background-color: var(--rc-grey-lt);
    text-align: right;
}

.timesheet-table tr.timesheet-total td {
    background-color: var(--rc-grey-lt);
}

.timesheet-table tr.timesheet-total td:first-child {
    background-color: var(--rc-white);
}

@media (max-width: 768px) {    
    .timetable-wrapper {
        overflow-x: scroll;
    }
}

/* ---------------------------------------------------
Custom Styles
-----------------------------------------------------*/

/* -- Mobile First -- */

/* globalsearch-container starts */
.globalsearch-container {
    background-color: var(--rc-grey-lt);
}
.globalsearch-container .r4Col-1-1 {
    padding-right: 0;
}

.gs-box {
    display: flex;
    flex-direction: column;
}
.username-wrapper {
    text-align: right;
    display: none;
    text-transform: capitalize;
    font-size: 12px;
    color: var(--rc-swatch-bl);
}
.search-wrapper {
    position: relative;
}
.search-wrapper input {
    width: 100%;
    border: 1px solid var(--rc-grey-mid);
    color: var(--rc-grey-dr);
    border-radius: 4px;
    padding: 3px 15px;
}
.search-icon {
    position: absolute;
    right: 5px;
    top: 4px;
}
.settings-wrapper {
    display: flex;
    justify-content: flex-end;
    color: var(--rc-grey-dr);
}
.settings-icon {
    cursor: pointer;
}

@media (min-width: 576px) { 
    .globalsearch-container {
        padding: 5px 0;
    }
    .gs-box {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    .username-wrapper {
        margin-right: 5px;
        display: block;
    }
    .search-wrapper {
        margin-right: 5px;
    }
    .search-wrapper input {
        padding-right: 30px;
    }
}

/* globalsearch-container ends */

/* =============================== */

/* header-container starts */
.header-container {
    position: relative;
    z-index: 1;
    background-color: var(--rc-swatch-or);
    -webkit-box-shadow: 0px 4px 6px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 4px 6px 0 rgba(0,0,0,0.3);
    box-shadow: 0px 4px 6px 0 rgba(0,0,0,0.3);
}
.header-container .r4Col-1-1 {
    padding-right: 0;
}
.hd-box {
    display: flex;
    position: relative;
    justify-content: space-between;
}
.hamburger-wrapper {
    cursor: pointer;
    /* position: absolute; */
    /* top: -11px; */
    height: 32px;
}
.hamburger-wrapper svg {
    position: relative;
    top: -8px;
}
.logo-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 15px;
    color: var(--rc-white);
    text-transform: capitalize;
    font-size: 20px;
    /* font-weight: bold; */
}
.logo-wrapper span {
    opacity: 0.5;
    font-weight: bold;
}
.menu-wrapper {
    display: none;
}
.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
/* .main-menu li {} */
.main-menu li a {
    background-color: var(--rc-swatch-or-dr);
    color: var(--rc-white);
    text-transform: capitalize;
    display: block;
    padding: 15px 15px;
    text-decoration: none;
}
.main-menu li a:hover {
    background-color: var(--rc-swatch-or-dr2);
}
@media (min-width: 768px) { 
    .hamburger-wrapper {
        display: none;
    }
    .logo-wrapper {
        font-size: 24px;
        margin-left: 0;
    }
    .menu-wrapper {
        display: flex;
    }
}
/* header-container starts */

/* =============================== */

/* login-container starts */
.login-container {
    width: 90%;
    margin: 10% auto 0;
    /* background-color: var(--rc-swatch-or); */
    background: rgb(175,214,255);
    background: linear-gradient(180deg, rgba(175,214,255,1) 0%, rgba(96,168,242,1) 35%, rgba(131,192,255,1) 100%);
    border-radius: 4px;
    -webkit-box-shadow: 0px 4px 6px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 4px 6px 0 rgba(0,0,0,0.3);
    box-shadow: 0px 4px 6px 0 rgba(0,0,0,0.3);
}

.login-header {
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    color: var(--rc-white);
    text-shadow: 3px 3px 2px rgba(150, 150, 150, 0.26);
}

.login-header i {
    margin-right: 10px;
}

.login-form {
    padding: 20px;
    border-top: 1px solid #84b3e4;    
}

.br-t {
    border-top: 1px solid #59a1ec;
}

.login-form label {
    color: var(--rc-white);
    text-transform: capitalize;
    text-shadow: 3px 3px 2px rgba(123, 123, 123, 0.5);
}

.login-form .error-input {
    text-shadow: none;
    color: #b90921;
}

.login-form input {
    width: 100%;
}

.login-form input[type="checkbox"] {
    width: auto;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.login-form .btn {
    padding: 5px 25px;
    background-color: #062f8c;
    color: var(--rc-white);
}

.login-form .btn i {
    margin-right: 10px;
}

.login-form a {
    color: #330194;
    font-size: 12px;
    text-decoration: underline;
}

@media (min-width: 768px) {
    .login-container {
        width: 40%;
    }
    .login-form {
        padding: 1.5rem 3rem;
    }
}

@media (min-width: 992px) {
    .login-container {
        width: 30%;
    }
}
/* login-container ends */

/* =============================== */

/* main-container starts */
.main-container .r4Col-1-1 {
    padding-right: 0;
}
/* --banner section */
.banner-container {
    display: none;
}
@media (min-width: 768px) { 
    .banner-container {
        display: block;
        background-color: var(--rc-black);
        position: relative;
        z-index: 0;
        -webkit-box-shadow: 0px 4px 6px 0 rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 4px 6px 0 rgba(0,0,0,0.3);
        box-shadow: 0px 4px 6px 0 rgba(0,0,0,0.3);
    }
    .banner-box {
        position: relative;
        width: 100%;
        height: 550px;
        background-color: var(--rc-black);        
    }
    .carousel img {
        width: 100%;
        opacity: 0.5;
    }
}
/* --info section */
.info-box {
    display: flex;
    flex-direction: column;
    color: var(--rc-white);
}
.findcourse-wrapper {
    padding: 10px;
    background-color: var(--rc-grey-mid);
    color: var(--rc-grey-dr);
}
.findcourse-wrapper h3 {
    text-transform: capitalize;
}
.findcourse-wrapper .course-box {
    display: flex;
    flex-wrap: wrap;
}
.findcourse-wrapper .course-box button {
    margin: 0 5px 5px 0;
}
.downloadstuffs-wrapper {
    padding: 10px;
    background-color: var(--rc-swatch-pr);
}
.downloadstuffs-wrapper h3 {
    text-transform: capitalize;
}
.downloadstuffs-wrapper .download-text {
    font-family: var(--rc-font-serif);
}
.openinghours-wrapper {
    padding: 10px;
    background-color: var(--rc-swatch-yl);
}
.openinghours-wrapper h3 {
    text-transform: capitalize;
    margin-bottom: 40px;
}
.weekly-timings {
    margin: 0;
    padding: 0;
    list-style: none;
}
.weekly-timings li {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    padding: 15px 0;
    border-top: 1px solid var(--rc-swatch-yl-dr);
}
.weekly-timings li:first-child {
    border-top: none;
}
@media (min-width: 768px) { 
    .info-box {
        flex-direction: row;
        margin-bottom: 15px;
    }
    .findcourse-wrapper {
        padding: 30px;
        width: 50%;
    }    
    .findcourse-wrapper .course-box button {
        width: 29.33%;
        margin: 0 2%;
        margin-bottom: 15px;
    }
    .downloadstuffs-wrapper {
        padding: 30px;
        width: 25%;
    }
    .openinghours-wrapper {
        padding: 30px;
        width: 25%;
    }
}

/* --our courses section */
.ourcourses-box h3 {
    text-transform: capitalize;
    color: var(--rc-grey-dr);
    margin-bottom: 0;
}
.ourcourses-box h4 {
    text-transform: capitalize;
    color: var(--rc-swatch-pk);
    /* font-family: var(--rc-font-serif); */
    margin-bottom: 0;
}
.spcl-wrapper {
    display: flex;
    flex-direction: column;
}
.spcl-wrapper .spcl-box {
    border: 1px solid var(--rc-grey-mid);
    margin-bottom: 10px;  
    border-radius: 4px;  
    -webkit-box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 6px -3px rgba(0,0,0,0.2);
}
.spl-img {
    border-radius: 4px 4px 0 0;
}
.spl-img img {
    width: 100%;
    height: 128px;
    border: 4px 4px 0 0;
}
.spl-txt {
    padding: 20px;
    color: var(--rc-grey-dr);
    border-bottom: 1px solid var(--rc-grey-mid);
}
.spl-txt p {
    margin-bottom: 0;
}
.spl-people {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: var(--rc-grey-lt);
    border-radius: 0 0 4px 4px;
}
.spl-people .stud {
    display: flex;
    align-items: center;
}
.spl-people .stud img {
    width: 55px;
    height: 55px;
    border: 1px solid var(--rc-grey-mid);
    border-radius: 50%;
}
.spl-people .stud .txt {
    text-transform: capitalize;
    color: var(--rc-grey-dr);
    margin-left: 10px;
}
@media (min-width: 768px) {
    .spcl-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .spcl-wrapper .spcl-box {
        width: 31.33%;
        margin: 10px 1%;
        /* padding: 0 1%; */
    }
}


/* main-container ends */

/* =============================== */

/* timesheet-container starts */
.timesheet-container {

}

.page-subtitle-wrapper {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}
.subtitle-text {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    color: var(--rc-grey-dr);
}
.subtitle-text .fa {
    margin-right: 5px;
}
.user-greetings {
    text-transform: capitalize;
    font-size: 14px;
}
.user-greetings span {
    display: none;
    font-weight: normal;    
}

.user-greetings span::after {
    content: " - ";
}

@media (min-width: 768px) { 
    .user-greetings {        
        letter-spacing: 0.5px;
        font-size: 12px;
        font-weight: bold;
    }
    .user-greetings span {
        display: inline-block;
    }
}
/* timesheet-container ends */

/*
@media (min-width: 992px) { ... }

@media (min-width: 1200px) { ... } */

/* Swatches starts */
.thm-bl {
    color: var(--rc-swatch-bl);
}

.thm-or {
    color: var(--rc-swatch-or);
}

.thm-yl {
    color: var(--rc-swatch-yl);
}

.thm-gr {
    color: var(--rc-swatch-gr);
}
/* Swatches ends */